.menu-item {
	display: flex;
	justify-content: space-between;
	// padding-left: 10px;

	&-btn {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		button {
			margin: 4px;
		}
	}

	.btn-add {
		justify-self: center;
	}
}

.menu-item-group {
	margin-block: 4px;
	padding-left: 32px;
	.ant-menu-item-group-title {
		display: none;
	}
	.item-group {
		cursor: default !important;
	}
}
