.menu-item {
	display: flex;
	justify-content: space-between;
	// padding-left: 10px;

	&-btn {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		button {
			margin: 4px;
		}
	}

	.btn-add {
		justify-self: center;
	}
}

.menu-item-group {
	margin-block: 4px;
	padding-left: 32px;
	.ant-menu-item-group-title {
		display: none;
	}
}

.ant-menu-item .ant-menu-item-disabled .ant-menu-item-only-child .details-form {
}
#details-sub-menu {
	.ant-menu-item {
		height: auto;
	}
	.details-form {
		margin-left: 0px;
	}
}
.shape-details {
	color: black;

	.chair-number::before {
		content: "Chair number: ";
	}

	.staff-name::before {
		content: "Staff name: ";
	}

	.pc-info::before {
		content: "PC info: ";
		margin-left: -20px;
	}

	.pc-info {
		margin-left: 20px;

		div {
			height: 30px;
		}

		div::before {
			content: "- ";
		}
	}
}
